@font-face{
    font-family:maple;
    src:url(Sweet\ Maple.otf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background:#e5e5e5;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items:center;
    height:100vh;
    width:100vw;
}
#quote_container{
    max-width:600px;
    max-height:600px;
    height:90vw;
    width:90vw;
    background-color:#2a9d8f;
    border:solid 10px #003049;
    border-radius:30px;
    display:flex;
    justify-content:center;
    align-items:center;

}

#text{
    font-family:maple;
    font-size:2em;
    text-indent:100px;
    color:rgba(0, 0, 0, 0.863);
    margin-left:6%;
    line-height:13vw;

}
#text::before{
    content:'';
    background:url("quote_icon.png");
    background-size:contain;
    height:60px;
    width:60px;
    z-index:3;
    position:absolute;
    transform:translate(-130%,-30%);
    filter:opacity(75%);

}
#generate{
    border:none;
    font-family:maple;
    padding:14px 10px;
    background-color:#7400b8;
    color:white;
    border-radius:30px;
    font-size:7vw;
    box-shadow:0 0 10px 5px #7400b8;
    cursor:pointer;
}
#generate:active{
    box-shadow:none;
    font-size:6.7vw;
}
@media(min-width:600px){
    #text{
        font-size:3em;
        line-height:2.5;
    }
    #text::before{
        height:80px;
        width:80px;
        transform:translate(-130%,0%);
    }
    #generate{
        font-size:4vw;
    }
    #generate:active{
        font-size:3.8vw;
    }
}
@media(min-width:1342px){
    #generate{
        font-size:3vw;
    }
    #generate:active{
        font-size:2.8vw;
    }
}
